@import 'main';

.calories {

    & > [class^="calories"] {
        margin: 0 0 30px 0;
    }
    &__header {       
        text-align: center;
    }
    &__title {
        font-size: 30px;
        letter-spacing: 1px;
    }

    &__box {
        &--form {
            border: 1px solid $light-gray;
            padding: 20px;
            max-width: 500px;
        }      
        &--center {
            display: flex;
            justify-content: center;
        }       
        &--description {
            margin-bottom: 20px;
            &-center {
                text-align: center;
            }
        }
    }
    
    &__form {
        &-control-box {
            margin-bottom: 15px;
            &--button {
                text-align: center;
            }
            &--horizontal {
                display: flex;
            }
            &--icons {
                justify-content: center;
            }  
        }
        &-control {
            &--hidden {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            &--radio {                          
                cursor: pointer; 
                &:checked + .icon {
                    fill: $hover-color;
                }
            }
        }
    }

    &__icon {
        width: 50px;
        height: 50px;
        transition: .5s all;
        fill: $icon-color;
        &:hover {
            fill: $hover-color;
        }
        &:active {            
            transform: translate(0,-2px) scale(1.03);
        }
        &--active {
            fill: $hover-color;
        }
        &--radio {
            position: relative;  
        }
    }

    &__separator {
        font-size: 30px;
        margin: 0 15px;
        color: $icon-color;
    }

    &__article {
        margin-bottom: 20px;
        &-title {
            margin-bottom: 10px;
        }
        &-description {
            &--bold {
                font-weight: bold;
            }
            &--center {
                text-align: center;
            }
            &--equals {
                margin: 15px 0;
            }
        }
        &-list {
            margin: 15px 0 15px 30px;
        }
    }
}