<section class="calories">

  <header class="calories__header">
    <h1 class="calories__title">Kalkulator kalorii - oblicz zapotrzebowanie na kalorie</h1>
  </header>

  <div class="calories__box calories__box--center">
    <div class="calories__box calories__box--form">
      <form class="calories__form" (ngSubmit)="onCaloriesCalculate(form.value)" [formGroup]="caloriesForm"
        #form="ngForm">

        <p class="calories__box--description calories__box--description-center">Poniższy kalkulator pozwoli sprawdzić twoje zapotrzebowanie na kalorie</p>

        <div class="calories__form-control-box calories__form-control-box--horizontal calories__form-control-box--icons">
          <div class="calories__icon calories__icon--radio">            
            <input type="radio" class="calories__form-control calories__form-control--hidden calories__form-control--radio" value="man" formControlName="gender" />
            <svg class="icon" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M511.676,498.752l-12.8-51.2c-6.073-24.838-24.485-44.813-48.747-52.885l-93.867-31.275
                c-22.891-9.536-33.365-46.4-35.627-60.395c17.442-14.504,28.665-35.14,31.36-57.664c-0.385-3.847,0.523-7.713,2.581-10.987
                c3.326-0.833,6.049-3.215,7.317-6.4c6.142-14.872,9.997-30.588,11.435-46.613c0.003-0.871-0.104-1.738-0.32-2.581
                c-1.528-6.227-5.189-11.722-10.347-15.531v-56.555c0-34.368-10.496-48.469-21.547-56.64C339.004,33.472,321.276,0,255.996,0
                c-57.917,2.332-104.335,48.75-106.667,106.667v56.555c-5.158,3.809-8.819,9.304-10.347,15.531c-0.216,0.843-0.323,1.711-0.32,2.581
                c1.436,16.033,5.291,31.756,11.435,46.635c0.924,3.015,3.347,5.334,6.4,6.123c1.195,0.597,3.435,3.691,3.435,11.243
                c2.711,22.588,13.999,43.271,31.531,57.771c-2.24,13.973-12.651,50.816-34.901,60.117l-94.699,31.445
                c-24.243,8.071-42.643,28.026-48.725,52.843l-12.8,51.2c-1.449,5.71,2.005,11.514,7.715,12.963c0.853,0.217,1.73,0.327,2.61,0.328
                h490.667c5.891-0.002,10.665-4.779,10.664-10.67C511.993,500.461,511.886,499.595,511.676,498.752z"/>
            </svg>
          </div>
          <span class="calories__separator">/</span>
          <div class="calories__icon calories__icon--radio">
            <input type="radio" class="calories__form-control calories__form-control--hidden calories__form-control--radio" value="woman" formControlName="gender" />
            <svg class="icon" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <path d="M421.398,385.388L339.67,364.95l-4.715-18.88c30.215-4.097,59.52-13.272,86.677-27.136
              c3.027-1.815,4.959-5.01,5.163-8.533c0.214-3.526-1.307-6.935-4.075-9.131c-0.384-0.256-38.507-31.744-38.507-140.843
              c0-92.011-21.525-138.667-64-138.667h-6.4c-14.736-15.835-36.104-23.749-57.6-21.333c-40.085,0-128,40.299-128,160
              c0,109.099-38.123,140.587-38.4,140.8c-4.717,3.528-5.681,10.213-2.153,14.931c0.828,1.107,1.864,2.043,3.049,2.755
              c27.133,13.994,56.477,23.203,86.741,27.221l-4.715,18.837L91.03,385.409C37.608,398.701,0.135,446.71,0.214,501.761
              c0,5.891,4.776,10.667,10.667,10.667h490.667c5.891,0,10.667-4.776,10.667-10.667C512.302,446.702,474.828,398.681,421.398,385.388z
              "/>
            </svg>
          </div>  
        </div>

        <div class="calories__form-control-box" [class.error]="caloriesForm.get('age').touched && caloriesForm.get('age').invalid">
          <label class="calories__form-label">wiek*</label>
          <input type="number" min="0" class="form-control calories__form-control" formControlName="age" />
          <form-error [formControlField]="caloriesForm.get('age')"></form-error>
        </div>

        <div class="calories__form-control-box" [class.error]="caloriesForm.get('weight').touched && caloriesForm.get('weight').invalid">
          <label class="calories__form-label">waga (kg)*</label>
          <input type="number" min="0" class="form-control calories__form-control" formControlName="weight" />
          <form-error [formControlField]="caloriesForm.get('weight')"></form-error>
        </div>

        <div class="calories__form-control-box" [class.error]="caloriesForm.get('growth').touched && caloriesForm.get('growth').invalid">
          <label class="calories__form-label">wzrost (cm)*</label>
          <input type="number" min="0" class="form-control calories__form-control" formControlName="growth" />          
          <form-error [formControlField]="caloriesForm.get('growth')"></form-error>
        </div>

        <div class="calories__form-control-box">
          <label class="calories__form-label">twoja aktywność*</label>
          <select class="form-control" formControlName="activitys" >
            <option *ngFor="let activity of activitysHeaviness" value={{activity.multiply}}>
              {{activity.heaviness}}
            </option>
          </select>
        </div>

        <div class="calories__form-control-box calories__form-control-box--button  button--animated">
          <button type="sucaloriest" class="btn btn-primary calories__form-button"
            [disabled]="form.invalid">oblicz</button>
        </div>

        <div class="bmi__box--description">
          <p>Twoje podstawowe zapotrzebowanie wynosi (BMR): 
            <strong><span *ngIf="caloricDemand && caloricDemand.bmr">{{caloricDemand.bmr}} kcal</span></strong>
          </p>  
          <p>Twoje całkowie zapotrzebowanie wynosi (CPM): 
            <strong><span *ngIf="caloricDemand && caloricDemand.cpm">{{caloricDemand.cpm}} kcal</span></strong>
          </p>      
          <p>Wyliczenia na podstawie wzorów Brocka i Lorentza</p>
        </div>

      </form>
    </div>
  </div>

  <section class="calories__description">

    <article class="calories__article">
      <h2 class="calories__article-title">Co to jest zapotrzebowanie kaloryczne?</h2>
      <p class="calories__article-content">Zapotrzebowanie kaloryczne organizmu to nic innego, jak nasze całkowite
        wydatki energetyczne w ciągu doby, na które składają się: </p>
      <ul class="calories__article-list">
        <li> podstawowa przemiana materii (PPM, BMR) - dzienna ilość kalorii potrzebna do podtrzymania podstawowych
          funkcji życiowych</li>
        <li> termogeneza</li>
        <li> aktywność fizyczna</li>
      </ul>
      <p class="calories__article-content">
        Jak najprościej obliczyć zapotrzebowanie kaloryczne? Wypełnić puste pola w naszym kalkulatorze kalorii i kliknąć
        przycisk „oblicz”! Zanim jednak tego dokonasz, dowiedz się więcej na temat sposobów obliczania kalorii. Poznaj
        teoretyczne podstawy naszego kalkulatora żywieniowego!
      </p>
    </article>

    <article class="calories__article">
      <h2 class="calories__article-title">Wskaźnik BMR</h2>
      <p class="calories__article-description">BMR (ang. Basal Metabolic Rate) - metabolizm podstawowy, określany
        inaczej podstawową przemianą materii (PPM) to najniższy poziom przemian energetycznych, warunkujący dostarczenie
        energii niezbędnej do zachowania podstawowych funkcji życiowych w optymalnych warunkach bytowych. Kalkulator BMR
        określa dzienne zapotrzebowanie kaloryczne dla osoby w spoczynku, po 12-godzinnej przerwie od ostatniego posiłku
        i aktywności fizycznej, w warunkach komfortu psychicznego i cieplnego (w temperaturze około 24℃). Dla zdrowej
        osoby dorosłej wskaźnik BMR wynosi około 1 kcal/kg m.c./godz., czyli około 24 kcal/kg m.c./dobę.</p>
    </article>

    <article class="calories__article">
      <h2 class="calories__article-title">Jak obliczyć zapotrzebowanie kaloryczne?</h2>
      <p class="calories__article-description">Jeśli zastanawiasz się, ile kalorii w ciągu dnia potrzebujesz, aby
        utrzymać aktualną masę ciała, możesz skorzystać z naszego przelicznika kalorii lub obliczyć BMR samodzielnie na
        podstawie jednego z dwóch wzorów - Miffina lub Harrisa i Benedicta. Oba przeliczniki biorą pod uwagę aktualną
        masę ciała, wzrost, płeć, a także wiek.</p>
      <p class="calories__article-description">Jednak samo obliczenie BMR nie jest wystarczające dla ustalenia, ile
        kalorii powinniśmy jeść w ciągu dnia. Konieczne jest uwzględnienie aktywności fizycznej. Aby obliczyć
        zapotrzebowanie kaloryczne na cały dzień, należy otrzymany wynik pomnożyć przez współczynnik aktywności
        fizycznej (Physical Activity Level, PAL), który dla zdrowych osób dorosłych wynosi:</p>
      <ul class="calories__article-list">
        <li>przy siedzącym trybie życia - 1,4</li>
        <li>przy umiarkowanej aktywności fizycznej - 1,6</li>
        <li>przy aktywnym trybie życia - 1,75</li>
        <li>przy bardzo aktywnym trybie życia - 2,0</li>
        <li>przy wyczynowym uprawianiu sportu - 2,2-2,4</li>
      </ul>
    </article>

    <article class="calories__article">
      <h2 class="calories__article-title">Skorzystaj z przelicznika kalorii</h2>
      <p class="calories__article-description">Idealny kalkulator zapotrzebowania kalorycznego powinien uwzględniać jak
        najwięcej informacji na Twój temat. Absolutna podstawa to wzrost i masa ciała. Dobrze, gdy brane są pod uwagę
        również: wiek, płeć, a także poziom aktywności fizycznej. Im większa ilość danych, tym dokładniejsze oszacowanie
        zapotrzebowania kalorii oraz lepiej dobrana dieta odchudzająca (jeśli zmagamy się z nadwagą lub otyłością)</p>
      
      <p class="calories__article-description">W jaki sposób poszczególne czynniki wpływają na wyliczanie kalorii?</p>
      
      <ul class="calories__article-list">
        <li>wzrost i masa ciała - wydatek energetyczny jest wyższy u osób z nadwagą i otyłością niż u osób szczupłych</li>
        <li>płeć - zarówno BMR, jak i całkowita przemiana materii jest wyższa u mężczyzn niż u kobiet, różnice te spowodowane są głównie innym składem ciała (większy udział tkanki tłuszczowej u kobiet)</li>
        <li>wiek - tempo przemiany materii wraz z wiekiem spada, dlatego zapotrzebowanie kaloryczne u osób starszych jest mniejsze</li>
        <li>aktywność fizyczna - nawet umiarkowana aktywność fizyczna istotnie zwiększa wydatki energetyczne, wpływając tym samym na bilans kaloryczny</li>
      </ul>
    </article>

  </section>

</section>
