<section class="bmi">

  <header class="bmi__header">
    <h1 class="bmi__title">Kalkulator BMI - oblicz wskaźnik masy ciała</h1>
  </header>

  <div class="bmi__box bmi__box--center">
    <div class="bmi__box bmi__box--form">
      <form class="bmi__form" (ngSubmit)="onBmiCalculate(form.value)" [formGroup]="bmiForm" #form="ngForm">

        <p class="bmi__box--description bmi__box--description-center">Poniższy kalkulator pozwoli sprawdzić twoje BMI</p>
        <div class="bmi__form-control-box" [class.error]="bmiForm.get('weight').touched && bmiForm.get('weight').invalid">
          <label class="bmi__form-label">waga (kg)*</label>
          <input type="number" min="0" class="form-control bmi__form-control" formControlName="weight"/>
          <form-error [formControlField]="bmiForm.get('weight')"></form-error>
        </div>

        <div class="bmi__form-control-box" [class.error]="bmiForm.get('growth').touched && bmiForm.get('growth').invalid">
          <label class="bmi__form-label">wzrost (cm)*</label>
          <input type="number" min="0" class="form-control bmi__form-control" formControlName="growth"/>
          <form-error [formControlField]="bmiForm.get('growth')"></form-error>
        </div>

        <div class="bmi__form-control-box bmi__form-control-box--button button--animated">
          <button type="submit" class="btn btn-primary bmi__form-button" [disabled]="form.invalid">oblicz</button>
        </div>

      </form>
      <div class="bmi__box--description">
        <p>Twój BMI wynosi: <strong><span *ngIf="bmiType && bmiType.description">{{bmiType.bmi}} - {{bmiType.description}}</span></strong></p>
        <p>Wyliczenia na podstawie wzorów Brocka i Lorentza</p>
      </div>
    </div>
  </div>

  <section class="bmi__description">

    <article class="bmi__article">
      <h2 class="bmi__article-title">Kalkulator BMI online</h2>
      <p class="bmi__article-content">Kalkulator BMI online to wygodne narzędzie, dzięki któremu w łatwy i szybki
        sposób możesz sprawdzić, czy masz prawidłową wagę ciała. Jest to jeden z najbardziej popularnych kalkulatorów
        dietetycznych. Oblicza tzw. wskaźnik BMI, który pozwala określić zależność proporcji między masą ciała a
        wzrostem. Zbyt wysoki lub zbyt niski wskaźnik BMI może świadczyć o tym, że Twoja obecna dieta nie jest
        odpowiednia i wymaga modyfikacji. Niski wynik otrzymany w kalkulatorze BMI, może oznaczać niedowagę, a wysoki
        nadwagę lub otyłość. </p>
    </article>

    <article class="bmi__article">
      <h2 class="bmi__article-title">Co to jest wskaźnik BMI?</h2>
      <p class="bmi__article-description">Kalkulator BMI (Body Mass Index), czyli indeks masy ciała to iloraz masy ciała
        wyrażonej w kilogramach i wzrostu wyrażonego w metrach podniesionego do kwadratu. Nazywany jest inaczej
        wskaźnikiem Queteleta od nazwiska jego twórcy - belgijskiego statystyka Adolfa Queteleta. Przelicznik BMI został
        opracowany w 1832 roku, a do powszechnego użytku wszedł w latach 70. XX wieku. Stosowany jest zarówno przez
        mężczyzn, jak i przez kobiety. Służy do określenia prawidłowej masy ciała i zyskał największe znaczenie w ocenie
        zagrożenia chorobami dietozależnymi.</p>
      <p class="bmi__article-description">Wykazano, że współczynnik BMI w dużym stopniu koreluje z zawartością tłuszczu
        w organizmie. Dlatego kalkulator BMI w sposób pośredni i orientacyjny określa zawartość tkanki tłuszczowej w
        organizmie na podstawie proporcji wagi do wzrostu.</p>
    </article>

    <article class="bmi__article">
      <h2 class="bmi__article-title">Jak obliczyć BMI?</h2>
      <p class="bmi__article-description">W jaki sposób obliczyć indeks BMI? Wzór lub kalkulator BMI - to dwa narzędzia,
        które mogą posłużyć nam do obliczenia wskaźnika BMI. Wystarczy znać swoją aktualną masę ciała i wzrost.
        Oczywiście obliczanie BMI za pomocą kalkulatora online jest wygodniejsze niż korzystanie z matematycznego wzoru.
        Dla sceptyków, którzy chcą porównać wynik otrzymany w kalkulatorze, podajemy wzór służący do obliczenia stosunku
        wagi do wzrostu:</p>
      <p
        class="bmi__article-description bmi__article-description--bold bmi__article-description--center bmi__article-description--equals">
        BMI = masa
        ciała [kg] / wzrost [m2]</p>
      <p class="bmi__article-description">Wynik, jaki otrzymasz, powinien być identyczny z wynikiem otrzymanym w naszym
        kalkulatorze BMI. Będzie on mieścił się w jednym z sześciu zakresów. Dzięki kontrolowaniu wielkości BMI możesz
        uniknąć ryzyka otyłości oraz związanych z nią chorób.</p>
    </article>

    <article class="bmi__article">
      <h2 class="bmi__article-title">Jaka jest prawidłowa waga? Normy BMI</h2>
      <p class="bmi__article-description">Licznik BMI podaje wynik według podstawowej kwalifikacji dla dorosłych
        mężczyzn i kobiet:</p>

      <ul class="bmi__article-list">
        <li>niedowaga: poniżej 18,5</li>
        <li>prawidłowa masa ciała: 18,5-24,9</li>
        <li>nadwaga: 25,0-29,9</li>
        <li>otyłość I stopnia: 30,0-34,9</li>
        <li>otyłość II stopnia: 35,0-39,9</li>
        <li>otyłość III stopnia: powyżej 40</li>
      </ul>

      <p class="bmi__article-description">Im wyższy stopień otyłości, tym większe ryzyko wystąpienia groźnych chorób,
        takich jak: miażdżyca, choroba niedokrwienna serca, udar mózgu, a nawet niektóre nowotwory.</p>
      <p class="bmi__article-description">
        Kalkulator BMI nie jest wskaźnikiem precyzyjnym. Dla dokładniejszego określenia stanu odżywienia organizmu
        warto skorzystać też z innych wskaźników, które uwzględniają wiek, płeć i aktywność fizyczną. Należy też
        pamiętać o tym, że na masę ciała mają również wpływ choroby przewlekłe. W przypadku osób chorych samo
        obliczenie wskaźnika BMI nie jest wystarczające, konieczna jest również konsultacja z lekarzem i wykonanie
        odpowiednich badań.</p>
      <p class="bmi__article-description">
        W przypadku niektórych osób pomiar BMI może być obarczony pewnym błędem. Osoby aktywne fizycznie, uprawiające
        sport, posiadające dużą masę mięśniową, mogą mieć wynik BMI wskazujący na nadwagę, a w rzeczywistości mieć
        prawidłową masę ciała. Ponadto kalkulator BMI nie jest przeznaczony dla dzieci do około 14 roku życia i dla
        kobiet w ciąży - dla osób z tych grup opracowano specjalne wskaźniki do obliczania wagi.</p>
    </article>

  </section>

</section>
