<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="'bmi'">Dieta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="'bmi'" aria-haspopup="true" aria-expanded="false">BMI</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="'calories'" aria-haspopup="true" aria-expanded="false">Kalorie</a>
        </li>
<!--dropdown-toggle-->
        <li class="nav-item dropdown">
          <a class="nav-link " [routerLink]="'water'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Woda</a>
         <!--<div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">Dodaj szklankę</a>
            <a class="dropdown-item" href="#">Historia</a>
          </div>--> 
        </li>
      </ul>     
    </div>
  </nav>
