<p class="error" *ngIf="formControl.touched && formControl.hasError('required')">
    Pole wymagane
</p>

<p class="error" *ngIf="formControl.touched && formControl.hasError('max')">
    Podałeś zdyt dużą wartość
</p>
