@import 'main';

.water {

    & > [class^="water"] {
        margin: 0 0 30px 0;
    }
    &__header {       
        text-align: center;
    }
    &__title {
        font-size: 30px;
        letter-spacing: 1px;
    }

    &__box {
        &--form {
            border: 1px solid $light-gray;
            padding: 20px;
            max-width: 500px;
        }      
        &--center {
            display: flex;
            justify-content: center;
        }
        &--description {
            margin-bottom: 20px;
            &-center {
                text-align: center;
            }
        }
        &-text {
            &--result {
                margin-bottom: 15px;
            }
        }
    }
    
    &__form {
        margin-bottom: 20px;
        &-control-box {
            margin-bottom: 15px;
            &--button {
                text-align: center;
            }
        }
    }

    &__article {
        margin-bottom: 20px;
        &-title {
            margin-bottom: 10px;
        }
        &-description {
            &--bold {
                font-weight: bold;
            }
            &--center {
                text-align: center;
            }
            &--equals {
                margin: 15px 0;
            }
        }
        &-list {
            margin: 15px 0 15px 30px;
        }
    }
}