<section class="water">

  <header class="water__header">
    <h1 class="water__title">Kalkulator wody - oblicz zapotrzebowanie na płyny</h1>
  </header>

  <div class="water__box water__box--center">
    <div class="water__box water__box--form">
      <form class="water__form" (ngSubmit)="onWaterCalculate(form.value)" [formGroup]="waterForm" #form="ngForm">

        <p class="water__box--description water__box--description-center">Poniższy kalkulator pozwoli sprawdzić twoje
          zapotrzebowanie na wode</p>

        <div class="water__form-control-box" [class.error]="waterForm.get('weight').touched && waterForm.get('weight').invalid">
          <label class="water__form-label">waga (kg)*</label>
          <input type="number" min="0" class="form-control water__form-control" formControlName="weight" />
          <form-error [formControlField]="waterForm.get('weight')"></form-error>
        </div>
        <div class="water__form-control-box water__form-control-box--button">
          <button type="submit" class="btn btn-primary water__form-button button--animated" [disabled]="waterForm.invalid">oblicz</button>
        </div>

      </form>
      <div class="water__box--description">
        <p class="water__box-text water__box-text--result">Twoje dzienne zapotrzebowanie na wodę wynosi: <strong><span *ngIf="waterDemand">{{waterDemand}} ml</span></strong></p>
        <p class="water__box-text">Otrzymany wynik uwzględnia również wodę zawartą w pokarmach stałych. Stanowi ona 20% dziennego
          zapotrzebowania na płyny.</p>
      </div>
    </div>
  </div>

  <section class="water__description">

    <article class="water__article">
      <h2 class="water__article-title">Ile wynosi średnie zapotrzebowanie na wodę?</h2>
      <p class="water__article-content">Woda jest głównym składnikiem organizmu człowieka i stanowi około 45-75% masy
        ciała. U dorosłego człowieka o prawidłowej masie ciała, udział wody sięga zwykle około 60%. Więcej wody znajduje
        się w organizmach mężczyzn niż kobiet - wynika to z faktu, że w organizmie kobiety znajduje się więcej tkanki
        tłuszczowej.<br>
        Woda zaliczana jest do niezbędnych składników pokarmowych, ponieważ organizm nie
        jest w stanie jej sam wytwarzać. Kalkulator wody wylicza zapotrzebowanie na wodę na podstawie masy ciała, jednak
        zależy ono również od takich czynników, jak: </p>
      <ul class="water__article-list">
        <li>wiek</li>
        <li>płeć</li>
        <li>stan fizjologiczny</li>
        <li>aktywność fizyczna</li>
        <li>warunki klimatyczne</li>
        <li>stan zdrowia</li>
        <li>wartość kaloryczna diety (im wyższa, tym większe zapotrzebowanie na wodę)</li>
        <li>skład diety</li>
      </ul>
      <p class="water__article-content">
        Niektóre leki, alkohol i kofeina mogą zwiększać diurezę (wydalanie moczu) i tym samym wpływać na większe
        zapotrzebowanie organizmu na wodę. Wysokie spożycie białka, błonnika czy sodu, również wymaga zwiększenie ilości
        wody w diecie.<br>
        Według norm żywienia ustalonych przez Instytut Żywności i Żywienia wystarczające spożycie wody (AI - adequate
        intake) pochodzącej z napojów i produktów spożywczych, dla dorosłych osób wynosi:</p>
      <ul class="water__article-list">
        <li>dla mężczyzn - 2500 ml na dobę</li>
        <li>dla kobiet - 2000 ml na dobę</li>
        <li>dla kobiet w ciąży - 2300 ml na dobę</li>
        <li>dla kobiet podczas laktacji - 2700 ml na dobę</li>
      </ul>
    </article>

    <article class="water__article">
      <h2 class="water__article-title">Jak obliczamy zapotrzebowanie na wodę?</h2>
      <p class="water__article-description">Przyjmuje się, że osoba dorosła na każdy kilogram masy ciała potrzebuje
        około 35 ml wody. Inny przelicznik, to 1 ml wody na 1 kcal spożytego pokarmu. Najłatwiej jest skorzystać z
        kalkulatora wody, który obliczy za nas, ile pić wody dziennie, aby uzupełnić zapotrzebowanie.</p>      
    </article>   

  </section>

</section>
