/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import './assets/styles/main';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  // background: rgba($background-color,0.5);
}

label {
  font-size: $labelFontSize;
  margin-bottom: 5px;
}

p {
  margin-bottom: 5px;
}

.error {
  margin-top: 5px;
  color: $error-color;
  font-size: 14px;
  .form-control {
      border: 1px solid $error-color;
      &:focus,
      &:active {
         border: 1px solid $error-color;
         box-shadow: none;
      }
  }
}

.button {
  &--animated {
    transition: .3s all;
    &:active {
      transform: translateY(-1px) scale(1.01);
    }
  }
}